/.venv/
/13464.docx
/CanaryBanana_Revisado.docx
/contenido.md
/crearppt.py
/practicas/org_dig_tools/_CIN2/
/practicas/org_dig_tools/_CIN1/
/practicas/org_dig_tools/_TIL/
/practicas/org_dig_tools/entregas_2025/
/practicas/_CIN1/
/practicas/_TIL/
/practicas/*.json
/practicas/__pycache__/
/practicas/org_dig_tools/__pycache__/
/practicas/org_dig_tools/utils/__pycache__/
/practicas/org_dig_tools/evaluate/__pycache__/
/practicas/org_dig_tools/extract/__pycache__/
/practicas/.venv/
/practicas/*.json/
/practicas/*.csv/
*.csv
_oldpracticas.zip
/examenes/
CanaryBanana/forms/token.json
practicas/CIN2-NotasRA1.xls
practicas/TIL-NotasRA1.xls
EQUIPOS.xlsx
CanaryBanana/docs/Practica_TDH_CanaryBanana_soluciones.xlsx
